@media (max-width: 995px){

    .savingAmount-input{
        position: relative;
        left: 25px;
    }
    
    .period-input{
        position: relative;
        left: 55px;
    }
    
    .interest-input{
        position: relative;
        left: 50px;
    }

    label{
        font-size: 13px;
    }
    .input-field input{
        width: 200px;
    }
}

@media (max-width: 890px){
    label{
        font-size: 12px;
    }
    .input-field input{
        width: 150px;
    }
}

@media (max-width: 891px){
    label{
        font-size: 12px;
    }
    .input-field input{
        width: 150px;
    }
    .left-main-body-content{
        max-width: 400px;
        border: 1px solid red;
    }
}