/* the main style */

body {
  margin: 0;
  padding: 0;
  height: auto;
}

html, 
* {
  box-sizing: border-box;
  font-family: Open sans-serif;
}
main {
  max-width: 1440px;
  /* height: auto; */
}

a {
  text-decoration: none;
}

.header-wrapper {
  width: 100%;
  margin: auto;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 5px 6px -6px black;
  position: fixed;
  background-color: #ffffff;
  z-index: 5;
}

.logo {
  position: relative;
  top: -5px;
}

.inner-header-wrapper {
  width: 90%;
  height: 70px;
  margin: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 8px;
}

.ul-links {
  display: flex;
  justify-content: space-between;
  width: 500px;
  position: relative;
  left: -50px;
}

.ul-links li {
  list-style: none;
}
.ul-links li a {
  color: #235dc3;
  font-size: 16px;
}

.logout-a {
  position: relative;
  left: 50px;
  color: #235dc3;
  font-size: 16px;
}
/* .ul-links li:hover  */
.active:before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #235dc3;
  top: 26px;
  width: 38px;
  cursor: pointer;
}

.main-body-container {
  width: 100%;
  margin: auto;
  position: relative;
  top: 100px;
}

.inner-main-body-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.left-main-body-content {
  max-width: 100%;
  height: 500px;
  margin: 10px;
}

.right-main-body-content {
  box-shadow: 0 0px 20px 3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.596);
  padding: 20px;
  width: 50%;
  margin: 10px 0 0 30px;
}

.left-main-body-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inner-left-top-main-body-content {
  max-width: 500px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0px 20px 3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.596);
}

.inner-left-bottom-main-body-content {
  max-width: 500px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0px 20px 3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.596);
}

.inner-left-top-box {
  border: 1px solid #4a5568;
  max-width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.body-image img{
  width: 550px;
  height: 550px;
}




/* .Withdraw-btn,
.deposit-btn {
  width: 350px;
  height: 40px;
  position: relative;
  top: 60px;
  text-align: center;
  margin: 5px;
}

.Withdraw-btn a,
.deposit-btn a {
  border: 1px solid #235dc3;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 14px;
}

.Withdraw-btn a {
  background-color: #235dc3;
  color: ffffff;
}

.deposit-btn a {
  color: #020f26;
}

.left-bottom-circle-btn {
  border: 1px solid #4a5568;
  margin: auto;
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 5px;
}
*/
.inner-right-top-box {
  border: 1px solid #4a5568;
  max-width: 100%;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}

.inner-right-top-box h2 {
  font-size: 18px;
  letter-spacing: 1;
  color: #020f26;
}

.inner-right-bottom-box {
  text-align: center;
  padding-top: 15px;
}

.inner-right-bottom-box h3 {
  font-size: 16px;
  letter-spacing: 1;
  text-transform: uppercase;
  color: #020f26;
}

.inner-right-bottom-box p {
  font-size: 28px;
  letter-spacing: 1;
  text-transform: uppercase;
  position: relative;
  top: -30px;
  color: #062863;
}
.right-main-body-content{
  width: 50%;
  padding: 1% 5% 5%;
}
.right-main-body-content h2 {
  font-size: 40px;
  font-family: sans-serif;
  letter-spacing: 1.5;
  color: #083e9e;
  text-align: center;
}

.right-main-body-content p {
  font-family: sans-serif;
  max-width: 500px;
  font-size: 16px;
  line-height: 1.7;
  color: #4a5568;
  text-align: justify;
}

/* Style inputs, select elements and textareas */
input[type=number]{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid #235dc3;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=button] {
  background-color: #235dc3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  padding: 0;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  
}

.footer {
  width: 100%;
  margin: auto;
  position: relative;
  top: 100px;
  margin-top: 100px;
}

.inner-footer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-left-content {
  width: 500px;
  margin-left: 10px;
  text-align: justify;
}

.footer-left-content img {
  width: 22%;
}

.footer-left-content p {
  font-size: 14px;
  color: #020f26;
  letter-spacing: normal;
}

.footer-right-content {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.footer-link-box {
  width: 100%;
  height: 300px;
  margin-left: 10px;
}

.footer-link-box h2 {
  font-size: 15px;
  color: #4a5568;
}

.footer-link-box li {
  list-style: none;
}
.footer-link-box li a {
  color: #020f26;
  font-size: 13px;
  line-height: 2.5;
}

.footer-icons img {
  margin: 5px;
  width: 25px;
}